body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 10px;
}

.header {
  background-color: #f8f9fa;
  padding: 10px 0;
  margin-bottom: 20px;
}

.burger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.nav {
  width: 80%;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
  color: #333;
}

.active {
  font-weight: bold;
}

@media (max-width: 600px) {
  .burger {
    display: block;
  }

  .nav-list {
    display: none;
  }

  .nav.open .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}